// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-group-vertical form{
  float:left;
  display: inline;// no needed as pointed by Aziz
}

.btn-group-vertical form .btn-top{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
}

.btn-group-vertical form .btn-bot{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 0;
}

.above {
  display: none;
  background: rgba(0,0,0, 0.9);
  z-index: 999;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

// These will center the div within the middle of screen
.container-table {

  overflow: hidden;
   height: 100%;
   width: 100%;
   display: table;
}
.vertical-center-row {
  overflow:hidden;
   display: table-cell;
   vertical-align: middle;
}

// end centering

.thefa {
  margin: 20px;
}

// btn toggling show/hide
.btn-group.toggle {
  display: none;
  position: absolute;
  border: 1px solid #eaeaea;
  width: 150px;
  padding: 10px;
  right: 50px;
  bottom: 28px;
  background: #eaeaea;
  border-radius: 5px;
}

//link styles
.thread {
  display:block;
  border-left: 2px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  padding: 10px;
}
